@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

.brand-title {
  font-family: -apple-system,BlinkMacSystemFont,Inter,sans-serif;
  font-weight: 800;
  font-size: 32px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(85,9,121,1) 11%, rgb(35, 160, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.nav-item {
  font-size: 1.2em;
  color: rgba(2,0,36,1);
}

body, html {
  font-family: -apple-system,BlinkMacSystemFont,Inter,sans-serif;
  font-weight: 400;
  color: rgba(2,0,36,1);
}

ul.course {
  list-style-type: none;
  padding: 0;
}

li.helper {
  cursor: -webkit-grabbing; cursor:-moz-grabbing !important;
  list-style-type: none;
  -webkit-box-shadow: 9px 9px 7px -5px rgba(0,0,0,0.13);
  -moz-box-shadow: 9px 9px 7px -5px rgba(0,0,0,0.13);
  box-shadow: 9px 9px 7px -5px rgba(0,0,0,0.13);
}

.height-full {
  height: 85vh
}

.class-list {
  overflow-y: auto;
}

h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}